<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="ISO-8859-1">
<title>Welcome - Spring Boot Security Example</title>
</head>
<body>
	<div
		style="max-width: 1000px; height: 100px; background-color: powderblue;">
		<div style="text-align: center;">
			<h2 th:inline="text">Welcome
				[[${#httpServletRequest.remoteUser}]]</h2>
			<div sec:authorize="hasRole('ADMIN')">
				<a href="/cpanel">Admin CPanel</a>
			</div>
			<div style="text-align: right; margin-right: 50px;">
				<form th:action="@{/logout}" method="post">
					<input type="submit" value="Logout" />
				</form>
			</div>
		</div>
		<div style="text-align: left;">
			<form th:action="@{/tasks}" method="get">
				<input type="submit" value="Get All Tasks" />
			</form>
		</div>

	</div>

</body>
</html>